{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "typescript",
          "rust",
          "bash",
          "jsx",
          "css",
          "json",
          "yml"
        ],
        "theme": "tomorrow",
        "css": false
      }
    ]
  ]
}
