.img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.img_wrapper {
  height: calc(100vw / 1.4);
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .img_wrapper {
    height: calc(100vw / 2.79);
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  .img_wrapper {
    height: calc(100vw / 2.7);
  }
}
@media only screen and (min-width: 1920px) {
  .img_wrapper {
    height: calc(100vw / 4.4);
  }
}

:global .fullscreen :local .img {
  height: 83vh;
}

.gal {
  margin: 0 -25px 0 -25px;
  width: calc(100% + 50px);
}
