.main {
  min-height: calc(100% - 178px);
  box-sizing: border-box;
  display: flow-root;
  margin: 0!important;
}

/*body, html, #__next {*/
/*  box-sizing: border-box;*/
/*  height: 100% !important;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/


.menu {
  margin: 0!important;
  padding: 0!important;
}
.menu_header {
  background-color: #F1EFDF!important;
}

.stick{
  box-shadow: 0 3px 3px 0 #d4d4d5, 0 0 0 0 #d4d4d5!important;
}

.content {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
