:root {
	--extra-dark: #1d1c1c;
	--darker: #2b2a2a;
	--dark: #403f3f;
	--medium: #a5a5a5;
	--light: #cccccc;
	--lighter: #f2f2f2;
	--font-size: 22px;
	--border-radius: 0.15rem;
}

@font-face {
	font-family: "dsm";
	src: url("/DejavuSansMono-5m7L.ttf");
}

html,
body {
	margin: 0;
	padding: 0;
	color: #cccccc;
	overflow-y: hidden;
	height: 100%;
}

select,
input,
button {
	appearance: none;
	padding: 0px 5px;
	margin: 0;
	cursor: inherit;
	line-height: inherit;
	background-color: var(--medium);
	color: var(--extra-dark);
	border-radius: var(--border-radius);
	border: 1px solid var(--dark);
}

input[type=range] {
	writing-mode: vertical-lr;
	direction: rtl;
	vertical-align: middle;
	height: 110px;
	padding: 0;
	width: 2px;
}

input[type=number] {
	width: 60px;
}

input[type=text] {
	width: 125px;
}

a {
	color: var(--light);
}

#canvas {
	height: calc(100vh - 245px);
	width: 100%;
}

#canvas.fill {
	height: 100%;
}

@media (display-mode: fullscreen) {
	#canvas {
		height: 100vh;
	}
}

#controls {
	display: flex;
	gap: 10px;
}

#controls.hidden {
	display: none;
}

.slider {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.inputs {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 5px;
	justify-content: center;
}

.control {
	display: flex;
	flex-direction: column;
	height: 215px;
	border: 2px solid var(--medium);
	padding: 5px;
	border-radius: 5px;
}

.control>h3 {
	margin: 0;
}

.control>span {
	margin-bottom: 5px;
	display: block;
}

.control.output {
	filter: sepia(100%);
}

.input {
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 5px;
	grid-row-gap: 0px;
}

.remove {
	align-self: end;
}

.docs {
	align-self: center;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: end;
}
