body {
  background-color: #f5f4f3;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.ui.compact.grid > .column:not(.row),
.ui.compact.grid > .row > .column,
.ui.grid > .compact.row > .column,
.ui.grid > .row > .column {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

h4 {
  margin-top: -15px;
}
